/* commons */
h1, a {
    font-family: 'Cherry Swash', cursive;
}

/* cover */
.cover {
    padding-top: 100px;
    padding-bottom: 300px;
    width: 1200px;
    height: 700px;
    background: url("") center center no-repeat;
    background-size: cover;
}

.cover .cover-inner {
    height: 100%;
    margin: 0 auto;
    display: table;

}

.cover .cover-inner .cover-contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.btn-ghost {
    background: transparent;
}

.cover-contents h1 {
    font-size: 100px;
    z-index: 100;
}

.panel-default {
    font-family: 'Cherry Swash', cursive;
    margin-top: 100px;
}

.seat{
    font-size: 40px;
    width: 80px;
    height: 120px;
}

.seats_index {
 
}

.offence{
    display: none;
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    z-index: 30;
}

