/* commons */
h1, a {
    font-family: 'Cherry Swash', cursive;
}

/* cover */
.cover {
    padding-top: 100px;
    padding-bottom: 300px;
    width: 1200px;
    height: 700px;
    background: url("") center center no-repeat;
    background-size: cover;
}

.cover .cover-inner {
    height: 100%;
    margin: 0 auto;
    display: table;

}

.cover .cover-inner .cover-contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.btn-ghost {
    background: transparent;
}

.cover-contents h1 {
    font-size: 100px;
    z-index: 100;
}

.panel-default {
    font-family: 'Cherry Swash', cursive;
    margin-top: 100px;
}

.panel-body {
    list-style-type: none;
}

.seat{
    font-size: 40px;
    width: 80px;
    height: 120px;
}

.seats_index {
    margin-left:300px;
}

.offence{
    display: none;
    position: absolute;
    margin-left: 300px;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    z-index: 30;
}

.game_index{
    position: absolute;
    margin-left: 300px;
    width: 800px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    z-index: 30;
}

.game_index h1{
    font-size: 100px;
}

.game_show{
    position: absolute;
    margin-left: 300px;
    width: 600px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    z-index: 30;
}

.game_show h1{
    font-size: 100px;
}

.game_result{
    position: absolute;
    margin-left: 300px;
    width: 600px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    z-index: 30;
}

.game_result h1{
    font-size: 100px;
}

.seat_update{
    position: absolute;
    margin-left: 300px;
    width: 600px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    z-index: 30;
}

.seat_update h1{
    font-size: 100px;
}