/* commons */
h1, h2, a  {
    font-family: 'Cherry Swash', cursive;
}

.btn-ghost {
    background: transparent;
    margin-top: 30px;
}

/* cover */
.cover {
    padding-top: 100px;
    padding-bottom: 300px;
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
}

.cover h1 {
    font-size: 150px;
}


/*welcome page*/
.sign_up {
    text-align: center;
}


/*log in % register page*/
.panel-default {
    font-family: 'Cherry Swash', cursive;
    margin-top: 50px;
}

.panel-body {
    list-style-type: none;
}


/*seats page*/
.select_teams {
    text-align: center;
}

.select_teams h2 {
    font-size: 80px;
}

.seats_index {
    position: absolute;
    text-align: center;
}

.seat{
    font-size: 40px;
    width: 80px;
    height: 120px;
}


/*attack page*/
.offence{
    text-align: center;
}

.offence h1{
    font-size: 100px;
}

.offence h2{
    font-size: 50px;
}

.game_index{
    text-align: center;
}

.game_index h1{
    font-size: 80px;
}

.game_show h1{
    font-size: 100px;
}


/*game result page*/
.game_result{
    text-align: center;
}

.game_result h1{
    font-size: 100px;
}

.game_result h2{
    font-size: 80px;
}

.result {
    margin-top: 100px;
}


/*update page*/
.update_index {
    text-align: center;
}


.seat_update{
    position: absolute;
    text-align: center;
}

.seat_update h2{
    font-size: 80px;
}

/*navbar*/

.menu {
  position: relative;
  background: #cd3e3d;
  width: 3em;
  height: 3em;
  border-radius: 5em;
  margin-top: 10px;
  cursor: pointer;
  border: 1em solid #fdaead;
}
.menu:after {
  content: "";
  position: absolute;
  top: 1em;
  left: 1em;
  width: 1em;
  height: 0.2em;
  border-top: 0.6em double #fff;
  border-bottom: 0.2em solid #fff;
}
.menu ul {
  list-style: none;
  padding: 0;
}
.menu li {
  width: 5em;
  height: 1.4em;
  padding: 0.2em;
  margin-top: 0.2em;
  text-align: center;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  transition: all 1s;
  background: #fdaead;
  opacity: 0;
  z-index: -1;
}
.menu:hover li {
  opacity: 1;
}
/**
 * Add a pseudo element to cover the space
 * between the links. This is so the menu
 * does not lose :hover focus and disappear
 */
.menu:hover ul::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display: block;
  left: 50%;
  top: -5.0em;
  /**
   * The pseudo-element is a semi-circle
   * created with CSS. Top, bottom, and right
   * borders are 6.5em (left being 0), and then
   * a border-radius is added to the two corners
   * on the right.
   */
  border-width: 6.5em;
  border-radius: 0 7.5em 7.5em 0;
  border-left: 0;
  border-style: solid;
  /**
   * Have to have a border color for the border
   * to be hoverable. I'm using a very light one
   * so that it looks invisible.
   */
  border-color: rgba(0,0,0,0.01);
  /**
   * Put the psuedo-element behind the links
   * (So they can be clicked on)
   */
  z-index: -1;
  /**
   * Make the cursor default so it looks like
   * nothing is there
   */
  cursor: default;
}
.menu a {
  color: white;
  text-decoration: none;
  /**
   * This is to vertically center the text on the
   * little tab-like things that the text is on.
   */
  line-height: 1.5em;
}
.menu a {
  color: white;
  text-decoration: none;
}
.menu ul {
  transform: rotate(180deg) translateY(-2em);
  transition: 1s all;
}
.menu:hover ul {
  transform: rotate(0deg) translateY(-1em);
}
.menu li:hover {
  background: #cd3e3d;
  z-index: 10;
}

.menu li:nth-of-type(1) {
  transform: rotate(-90deg);
  position: absolute;
  left: -1.2em;
  top: -4.2em;
}
.menu li:nth-of-type(2) {
  transform: rotate(-45deg);
  position: absolute;
  left: 2em;
  top: -3em;
}
.menu li:nth-of-type(3) {
  position: absolute;
  left: 3.4em;
  top: 0.3em;
}
.menu li:nth-of-type(4) {
  transform: rotate(45deg);
  position: absolute;
  left: 2em;
  top: 3.7em;
}
.menu li:nth-of-type(5) {
  transform: rotate(90deg);
  position: absolute;
  left: -1.2em;
  top: 5em;
}
.hint {
  text-align: center;
}